.site-content {
  .vue-slider-process {
    background-color: $primary-color;
  }

  .vue-slider-dot-tooltip-inner {
    color: $light-color;
    border-color: $primary-color;
    background-color: $primary-color;
  }
}
